@font-face {
    font-family: OswaldRegular;
    src: url("../assets/fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: OswaldBold;
    src: url("../assets/fonts/Oswald-Bold.ttf");
}
*{
    scroll-behavior: smooth;
    
}
.container-fluid{
    padding: 0;
    background-color: #F3EFEE;
    background-image: url("../assets/images/backgorunWhite.png");
}

.container-fluid--ingredients{
    height: 6000px;
    /* overflow: auto; */
}

.carousel__topBg{
    background-image: url("../assets/images/coffeBG.jpg");
    width: 100%;
    height: 55vh;
    
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-color: #052B52;
    
}

.carousel__bottom{
    padding-top: 100px;
}
.carousel__coffeImg{
    width: 30%;
    position: absolute;
    top: -500px;
    left: 35%;

    margin-bottom: 200px;
}

.carousel__title{
    font-family: OswaldBold;
    font-size: 900;
    font-size: 5rem;

    background: -webkit-linear-gradient(#632b0a, #a5501f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.carousel__title--black{
    background: -webkit-linear-gradient(#0F0A0E, #632b0a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.carousel__title--white{
    background: -webkit-linear-gradient(#6B2F11, #FAE8D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel__subtitle{
    font-size: 2rem;
    font-weight: 800;
    word-spacing: 10px;

    color: #37190D;
}

.arrowCarousel{
    color: #a5501f;
    font-size: 2rem;
    font-weight: 900;
}
.arrowCarousel:hover{
    color: #923d0c;
}

/* delivery */

.delivery{
    background-color: #68b3ea;
    padding-left: 100px;
    padding-right: 100px;
}
.delivery__img{
    width: 500px;
    border-radius:54% 46% 68% 32% / 34% 29% 71% 66% ;
}
.delivery__vectorContainer{
    width: 160px;
    height: 160px;
}
.delivery__vector{
    width: 100%;
}

/* end delivery */

/* novedades */
.cards{
    width: 100%;
    max-width: 1100px;
}
.card{
    color: #0F0A0E;
}
.card:hover{
    box-shadow: 1px 1px 10px 3px #37190d2a;
}
.card__imgCont {
    width: 100%;
    height: 300px;
    overflow: hidden; 
}
.soft{
    color: grey;
}
.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card__price{
    font-size: 1.3rem;
    font-family: OswaldRegular;
    
}
.arrow{
    letter-spacing: -4px;
    font-weight: 600;
    margin: 0;

    transition: all 1s forwards;
    font-family: 'Courier New', Courier, monospace;
}
.card:hover .arrow__point{
    margin-left: 3px;
}
.colorBrown{
    color: #532D22;
}
/* end novedades */


/* start promotion */
.promotion{

    width: 80%;
    margin: auto;
    background: rgb(246,228,224);
    background: linear-gradient(149deg, rgba(246,228,224,1) 0%, rgb(255, 232, 217) 100%);
}
.promotion__texts{
    width: 40%;
}
.promotion__img{
    width: 40%;
}

/*end promotion */


/* shopping form*/
.form{
    background-color: #99755F;
    border-radius: 10px;

    box-shadow: 1px 1px 10px 1px gray;
    z-index: 3;

    transition: all 1s;
}
.form__img{
    border-radius: 10px 10px 0px 0px;
}
.form__brownForm{
    /* border: 10px solid red; */
    position: absolute;
    left: 0px;
    bottom: -8px;
}
.form__inputs{
    /* padding: 100px; */
    display: flex;
    flex-direction: column;
    
    /* z-index: 10; */
} 

.form__input{
    padding: 4px;
     font-size: 20px;
     border-width: 1px;
     border-color: #ffffff;
     background-color: #3D302F;
     color: #ffffff;
     border-style: hidden;
     border-radius: 3px;
     box-shadow: -2px 0px 5px rgba(66,66,66,.75);
     text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}
.form-range{
    background: none;
    box-shadow: none;
}
.form__payments{
    width: 15%;
    cursor: pointer;
}
/* end shopping form*/

/* Asides */

.smallerBox{
    width: 20%;
    height: 70%;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    
    .form__img{
        border-radius: 10px 0px 0px 10px;
    }
}
.smallerBox--right{
    border-radius: 0px 10px 10px 0px;
    .form__img{
        border-radius: 0px 10px 10px 0px;
    }
}

/*end asides*/

/* informations*/

.information{
    width: 100%;
    /* margin-top: 1000px; */

    view-timeline-name: --information;
    view-timeline-axis: block;

    animation-timeline: --information;
    animation-name: showRigth;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

    background-color: rgba(255, 255, 255, 0.397);
    padding: 30px;
    border-radius: 10px;

    box-shadow: 1px 1px 10px 1px gray;

    transition: all 1s;

    margin-top: 35vh;
}


.information__img{
    
    transition: border-radius 1s;

    width: 20%;

}
.information__img:hover{
    
}
.information__texts{
    width: 60%;
    
}

.information__anchor{
    bottom: -11%;
    z-index: 10;
    color: #37190D;
    text-decoration: none;
}
.information__anchor--hand{
    font-size: 1.6rem;
}
.informatin__title{
    font-size: 3rem;
    font-family: OswaldBold;

    background-image: url("../assets/images/fontBg/whiteBrown.jpg"); 
    background-repeat: repeat; 
    background-clip: text; 
    background-size: cover;
    background-position: 100px;
    -webkit-text-fill-color: transparent; 
    
    -webkit-font-smoothing: antialiased; 
}
.information__icon{
    -webkit-text-fill-color: currentColor; 
}

@keyframes showRigth {
    from{
        transform: translateX(400px);
        display: none;
    }
    to{
        transform: translateX(0px);
        display: block;
    }
}